<html>
    <head>
        <meta charset="utf-8">
        <title>list</title>
    </head>
    <body>
        <h2>list</h2>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <button onclick="location.href='../list'">오름차순 리스트 </button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button onclick="location.href='../list-desc'">내림차순 리스트 </button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button onclick="location.href='../write'">신규추가</button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <button onclick="location.href='../search'">조회/수정</button>




        <p>
                <% for(i = 0; i < list.length; i++) { %>
                <p>
                    
                    <span>'<%=list[i].HANGUL %>', </span>
                    <span>'<%=list[i].HANJA %>', </span>
                    <span>'<%=list[i].H1 %>', </span>
                    <span>'<%=list[i].C1 %>', </span>
                    <span>'<%=list[i].H2 %>', </span>
                    <span>'<%=list[i].C2 %>', </span>
                    <span>'<%=list[i].H3 %>', </span>
                    <span>'<%=list[i].C3 %>', </span>
                    <span>'<%=list[i].H4 %>', </span>
                    <span>'<%=list[i].C4 %>', </span>
                    <span>'<%=list[i].H5 %>', </span>
                    <span>'<%=list[i].C5 %>', </span>
                    <span>'<%=list[i].EXPL %>', </span>
                    <span>'<%=list[i].LINK %>', </span>
            
                <% } %>


    </body>
</html>