<html>
    <head>
        <meta charset="utf-8">
        <title>list</title>
    </head>
    <body>
        <h2>list</h2>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <button onclick="location.href='../list'">오름차순 리스트 </button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button onclick="location.href='../list-desc'">내림차순 리스트 </button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button onclick="location.href='../write'">신규추가</button>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <button onclick="location.href='../search'">조회/수정</button>


        <p>
        <table border='1'>
            <colgroup>
                <col width='30'><col width='100'><col width='70'><col width='70'><col width='70'>
                <col width='70'><col width='70'><col width='70'><col width='70'><col width='70'>
                <col width='70'><col width='70'><col width='70'><col width='400'><col width='70'>
            </colgroup>
            <thead>
                <tr>
                    <th>SEQN</th>
                    <th>HANGUL</th>
                    <th>HANJA</th>
                    <th>H1</th> 
                    <th>C1</th>   
                    <th>H2</th>   
                    <th>C2</th>   
                    <th>H3</th>   
                    <th>C3</th>    
                    <th>H4</th>   
                    <th>C4</th>  
                    <th>H5</th>   
                    <th>C5</th> 
                    <th>EXPL</th>
                    <th>LINK</th>                      
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < list.length; i++) { %>
                <tr>
                    <td><%=list[i].SEQN %></td>
                    <td><%=list[i].HANGUL %></td>
                    <td><%=list[i].HANJA %></td>
                    <td><%=list[i].H1 %></td>
                    <td><%=list[i].C1 %></td>
                    <td><%=list[i].H2 %></td>
                    <td><%=list[i].C2 %></td>
                    <td><%=list[i].H3 %></td>
                    <td><%=list[i].C3 %></td>
                    <td><%=list[i].H4 %></td>
                    <td><%=list[i].C4 %></td>
                    <td><%=list[i].H5 %></td>
                    <td><%=list[i].C5 %></td>
                    <td><%=list[i].EXPL %></td>
                    <td><%=list[i].LINK %></td>
                </tr>
                <% } %>
            </tbody>
        </table border='1'>




    </body>
</html>