<html>
    <head>
        <meta charset="utf-8">
        <title>search list</title>

        <style>
            input[type=text] { height: 30px; font-size: 18px; }
        </style>
    </head>



    <body>

    <form action='/book_updateAf_3' method='post'>
    
                    <p>
                        <input type='text' size="15" name='SEQ' value ="<%=list[0].SEQ %>">
                        <input type='text' size="15" name='YEAR' value ="<%=list[0].YEAR %>">
                        <input type='text' size="15" name='MONTH' value ="<%=list[0].MONTH %>">
                        <input type='text' size="15" name='DAY' value ="<%=list[0].DAY %>">
                        <input type='text' size="15" name='COUNT' value ="<%=list[0].COUNT %>">
                    <p>
                        <textarea cols="150" rows="3" style="font-size: 14px" name='B_HANJA'><%=list[0].B_HANJA %></textarea>
                    <p>
                        <textarea cols="150" rows="3" style="font-size: 14px" name='UM'><%=list[0].UM %></textarea>
                    <p>
                        <textarea cols="150" rows="3" style="font-size: 14px" name='B_HANGUL'><%=list[0].B_HANGUL %></textarea>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
            <button type='submit'>업데이트</button>
    </form>  

    <form>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
        <input type="button" value="한글음" onclick="setUM(form)">
    </form>

        
        <p>
        <form action='/booksearchAf' method='post'>
            
            SEQ : <input type='text' name='SEQ' value ="<%=list[0].SEQ %>">
                    
            <button type='submit'>조회</button>
        </form>

        <p>
            <form action='/bookpublishAf' method='post'>
                
                SEQ : <input type='text' name='SEQ' value ="<%=list[0].SEQ %>">
                        
                <button type='submit'>Publish</button>
            </form>

        <p>
                <form action='/booksearchAF' method='post'>
                    
                    NEXT : <input type='text' name='SEQ' value ="<%=list[0].SEQ  + 1 %>">
                            
                    <button type='submit'>Next</button>
                </form>





            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
            <button onclick="location.href='../bookwrite'">신규추가</button>

                   


 
            <script>

                    const hanja_array = [
                    '佳', 	'假', 	'價', 	'加', 	'可', 	'家', 	'暇', 	'架', 	'歌', 	'街', 	'刻', 	'却', 	'各', 	'脚', 	'覺', 	'角', 	'閣', 	'刊', 	'姦', 	'干', 	'幹', 	'懇', 	'看', 	'簡', 	'肝', 	'艮', 	'間', 	'渴', 	'感', 	'敢', 	'減', 	'甘', 	'監', 	'鑑', 	'凵', 	'甲', 	'剛', 	'康', 	'强', 	'江', 	'綱', 	'講', 	'鋼', 	'降', 	'介', 	'個', 	'慨', 	'改', 	'槪', 	'皆', 	'蓋', 	'開', 	'客', 	'更', 	'去', 	'居', 	'巨', 	'拒', 	'據', 	'擧', 	'距', 	'乾', 	'件', 	'健', 	'巾', 	'建', 	'乞', 	'傑', 	'儉', 	'劍', 	'檢', 	'擊', 	'格', 	'激', 	'隔', 	'堅', 	'牽', 	'犬', 	'絹', 	'肩', 	'見', 	'遣', 	'犭', 	'決', 	'潔', 	'結', 	'缺', 	'兼', 	'謙', 	'京', 	'傾', 	'卿', 	'境', 	'庚', 	'徑', 	'慶', 	'敬', 	'景', 	'硬', 	'竟', 	'競', 	'經', 	'耕', 	'警', 	'輕', 	'鏡', 	'頃', 	'頃', 	'驚', 	'冂', 	'巠', 	'係', 	'啓', 	'契', 	'季', 	'戒', 	'桂', 	'械', 	'溪', 	'界', 	'癸', 	'系', 	'繫', 	'繼', 	'計', 	'階', 	'鷄', 	'彑', 	'古', 	'告', 	'固', 	'姑', 	'孤', 	'庫', 	'故', 	'枯', 	'稿', 	'考', 	'苦', 	'顧', 	'高', 	'鼓', 	'哭', 	'曲', 	'穀', 	'谷', 	'困', 	'坤', 	'丨', 	'骨', 	'供', 	'公', 	'共', 	'功', 	'孔', 	'工', 	'恐', 	'恭', 	'攻', 	'空', 	'貢', 	'廾', 	'寡', 	'戈', 	'果', 	'瓜', 	'科', 	'誇', 	'課', 	'過', 	'郭', 	'串', 	'冠', 	'官', 	'寬', 	'慣', 	'管', 	'觀', 	'貫', 	'關', 	'館', 	'丱', 	'毌', 	'光', 	'廣', 	'狂', 	'鑛', 	'掛', 	'塊', 	'壞', 	'怪', 	'愧', 	'巜', 	'交', 	'巧', 	'敎', 	'校', 	'橋', 	'矯', 	'較', 	'郊', 	'丂', 	'丘', 	'久', 	'九', 	'俱', 	'俱', 	'具', 	'區', 	'口', 	'句', 	'懼', 	'拘', 	'救', 	'構', 	'求', 	'狗', 	'球', 	'究', 	'臼', 	'舊', 	'苟', 	'驅', 	'龜', 	'丩', 	'國', 	'局', 	'菊', 	'君', 	'群', 	'軍', 	'郡', 	'屈', 	'宮', 	'弓', 	'窮', 	'勸', 	'卷', 	'拳', 	'權', 	'厥', 	'軌', 	'几', 	'歸', 	'貴', 	'鬼', 	'叫', 	'糾', 	'規', 	'勻', 	'均', 	'菌', 	'克', 	'劇', 	'極', 	'僅', 	'勤', 	'斤', 	'根', 	'謹', 	'近', 	'今', 	'琴', 	'禁', 	'禽', 	'金', 	'錦', 	'及', 	'急', 	'級', 	'給', 	'肯', 	'企', 	'其', 	'器', 	'基', 	'奇', 	'寄', 	'己', 	'幾', 	'忌', 	'技', 	'旗', 	'旣', 	'期', 	'棄', 	'機', 	'欺', 	'氣', 	'畿', 	'祈', 	'紀', 	'記', 	'豈', 	'豈', 	'起', 	'飢', 	'騎', 	'旡', 	'緊', 	'吉', 	'那', 	'暖', 	'難', 	'南', 	'男', 	'納', 	'娘', 	'乃', 	'內', 	'奈', 	'耐', 	'女', 	'年', 	'念', 	'寧', 	'努', 	'奴', 	'怒', 	'農', 	'惱', 	'腦', 	'能', 	'泥', 	'多', 	'丹', 	'但', 	'單', 	'團', 	'壇', 	'斷', 	'旦', 	'檀', 	'段', 	'短', 	'端', 	'達', 	'擔', 	'淡', 	'談', 	'畓', 	'答', 	'踏', 	'唐', 	'堂', 	'當', 	'糖', 	'黨', 	'代', 	'大', 	'對', 	'帶', 	'待', 	'臺', 	'貸', 	'隊', 	'德', 	'倒', 	'刀', 	'到', 	'圖', 	'塗', 	'導', 	'島', 	'度', 	'徒', 	'挑', 	'桃', 	'渡', 	'盜', 	'稻', 	'跳', 	'逃', 	'途', 	'道', 	'都', 	'陶', 	'刂', 	'毒', 	'獨', 	'督', 	'篤', 	'讀', 	'敦', 	'豚', 	'突', 	'冬', 	'凍', 	'動', 	'同', 	'東', 	'洞', 	'童', 	'銅', 	'斗', 	'豆', 	'頭', 	'亠', 	'爫', 	'艹', 	'屯', 	'鈍', 	'得', 	'燈', 	'登', 	'等', 	'騰', 	'羅', 	'諾', 	'樂', 	'絡', 	'落', 	'亂', 	'卵', 	'欄', 	'蘭', 	'濫', 	'覽', 	'郞', 	'來', 	'冷', 	'掠', 	'略', 	'浪', 	'兩', 	'凉', 	'梁', 	'糧', 	'良', 	'諒', 	'量', 	'勵', 	'呂', 	'慮', 	'旅', 	'麗', 	'鬲', 	'力', 	'曆', 	'歷', 	'憐', 	'戀', 	'練', 	'聯', 	'蓮', 	'連', 	'鍊', 	'列', 	'劣', 	'烈', 	'裂', 	'廉', 	'獵', 	'令', 	'嶺', 	'零', 	'靈', 	'領', 	'例', 	'禮', 	'隷', 	'勞', 	'爐', 	'老', 	'路', 	'露', 	'鹵', 	'祿', 	'綠', 	'錄', 	'鹿', 	'彔', 	'論', 	'弄', 	'賴', 	'雷', 	'耒', 	'了', 	'僚', 	'料', 	'龍', 	'屢', 	'樓', 	'淚', 	'漏', 	'累', 	'柳', 	'流', 	'留', 	'類', 	'六', 	'陸', 	'倫', 	'輪', 	'律', 	'栗', 	'率', 	'隆', 	'陵', 	'利', 	'吏', 	'履', 	'李', 	'梨', 	'理', 	'裏', 	'里', 	'離', 	'隣', 	'林', 	'臨', 	'立', 	'磨', 	'馬', 	'麻', 	'幕', 	'漠', 	'莫', 	'慢', 	'晩', 	'滿', 	'漫', 	'萬', 	'末', 	'亡', 	'妄', 	'忘', 	'忙', 	'望', 	'罔', 	'茫', 	'罒', 	'埋', 	'妹', 	'媒', 	'梅', 	'每', 	'買', 	'賣', 	'脈', 	'麥', 	'孟', 	'猛', 	'盲', 	'盟', 	'糸', 	'冖', 	'免', 	'勉', 	'眠', 	'綿', 	'面', 	'宀', 	'滅', 	'冥', 	'名', 	'命', 	'明', 	'皿', 	'銘', 	'鳴', 	'侮', 	'冒', 	'募', 	'慕', 	'暮', 	'某', 	'模', 	'母', 	'毛', 	'矛', 	'謀', 	'貌', 	'冃', 	'木', 	'牧', 	'目', 	'睦', 	'沒', 	'夢', 	'蒙', 	'卯', 	'墓', 	'妙', 	'廟', 	'苗', 	'務', 	'戊', 	'武', 	'無', 	'舞', 	'茂', 	'貿', 	'霧', 	'墨', 	'默', 	'問', 	'文', 	'聞', 	'門', 	'勿', 	'物', 	'味', 	'尾', 	'微', 	'未', 	'眉', 	'米', 	'美', 	'迷', 	'憫', 	'敏', 	'民', 	'密', 	'蜜', 	'博', 	'拍', 	'朴', 	'泊', 	'薄', 	'薄', 	'迫', 	'伴', 	'半', 	'反', 	'叛', 	'班', 	'盤', 	'般', 	'返', 	'飯', 	'拔', 	'發', 	'髮', 	'犮', 	'癶', 	'倣', 	'傍', 	'妨', 	'房', 	'放', 	'方', 	'芳', 	'訪', 	'邦', 	'防', 	'阝', 	'倍', 	'北', 	'培', 	'拜', 	'排', 	'杯', 	'背', 	'輩', 	'配', 	'伯', 	'白', 	'百', 	'煩', 	'番', 	'繁', 	'飜', 	'伐', 	'罰', 	'凡', 	'犯', 	'範', 	'法', 	'壁', 	'碧', 	'變', 	'辨', 	'辯', 	'邊', 	'釆', 	'冫', 	'扌', 	'氵', 	'忄', 	'衤', 	'別', 	'丿', 	'丙', 	'兵', 	'屛', 	'病', 	'竝', 	'保', 	'報', 	'寶', 	'普', 	'步', 	'補', 	'譜', 	'伏', 	'卜', 	'復', 	'服', 	'福', 	'腹', 	'複', 	'覆', 	'攵', 	'畐', 	'本', 	'奉', 	'封', 	'峯', 	'蜂', 	'逢', 	'鳳', 	'丰', 	'付', 	'副', 	'否', 	'夫', 	'婦', 	'富', 	'府', 	'扶', 	'浮', 	'父', 	'符', 	'簿', 	'缶', 	'腐', 	'負', 	'賦', 	'赴', 	'部', 	'阜', 	'附', 	'不', 	'北', 	'分', 	'墳', 	'奔', 	'奮', 	'憤', 	'粉', 	'紛', 	'不', 	'佛', 	'拂', 	'崩', 	'朋', 	'備', 	'匕', 	'卑', 	'妃', 	'婢', 	'悲', 	'批', 	'比', 	'碑', 	'肥', 	'費', 	'非', 	'飛', 	'鼻', 	'祕', 	'飞', 	'貧', 	'賓', 	'頻', 	'氷', 	'聘', 	'乍', 	'事', 	'仕', 	'似', 	'使', 	'史', 	'司', 	'四', 	'士', 	'寫', 	'寺', 	'射', 	'巳', 	'師', 	'思', 	'捨', 	'斜', 	'斯', 	'査', 	'死', 	'沙', 	'社', 	'祀', 	'私', 	'絲', 	'舍', 	'蛇', 	'詐', 	'詞', 	'謝', 	'賜', 	'辭', 	'邪', 	'厶', 	'削', 	'朔', 	'山', 	'散', 	'産', 	'算', 	'殺', 	'三', 	'彡', 	'上', 	'傷', 	'像', 	'償', 	'商', 	'喪', 	'嘗', 	'尙', 	'常', 	'床', 	'想', 	'桑', 	'狀', 	'相', 	'祥', 	'裳', 	'詳', 	'象', 	'賞', 	'霜', 	'塞', 	'索', 	'色', 	'生', 	'序', 	'庶', 	'徐', 	'恕', 	'暑', 	'書', 	'緖', 	'署', 	'西', 	'誓', 	'逝', 	'叙', 	'夕', 	'席', 	'惜', 	'昔', 	'析', 	'石', 	'釋', 	'仙', 	'先', 	'善', 	'宣', 	'旋', 	'禪', 	'線', 	'船', 	'選', 	'舌', 	'設', 	'說', 	'雪', 	'攝', 	'涉', 	'城', 	'姓', 	'性', 	'成', 	'星', 	'盛', 	'省', 	'聖', 	'聲', 	'誠', 	'世', 	'勢', 	'歲', 	'洗', 	'稅', 	'細', 	'召', 	'小', 	'少', 	'所', 	'掃', 	'消', 	'燒', 	'疎', 	'笑', 	'素', 	'蔬', 	'蘇', 	'訴', 	'騷', 	'俗', 	'屬', 	'束', 	'粟', 	'續', 	'速', 	'孫', 	'損', 	'松', 	'訟', 	'誦', 	'送', 	'頌', 	'刷', 	'鎖', 	'衰', 	'修', 	'受', 	'囚', 	'垂', 	'壽', 	'守', 	'帥', 	'愁', 	'手', 	'授', 	'搜', 	'收', 	'數', 	'樹', 	'殊', 	'水', 	'獸', 	'睡', 	'秀', 	'誰', 	'輸', 	'隨', 	'雖', 	'需', 	'須', 	'首', 	'叔', 	'孰', 	'宿', 	'淑', 	'熟', 	'肅', 	'尗', 	'巡', 	'循', 	'旬', 	'殉', 	'瞬', 	'純', 	'脣', 	'順', 	'戌', 	'術', 	'述', 	'崇', 	'濕', 	'拾', 	'習', 	'襲', 	'乘', 	'僧', 	'勝', 	'升', 	'承', 	'昇', 	'侍', 	'始', 	'尸', 	'市', 	'施', 	'是', 	'時', 	'矢', 	'示', 	'視', 	'試', 	'詩', 	'豕', 	'式', 	'息', 	'植', 	'識', 	'食', 	'飾', 	'伸', 	'信', 	'愼', 	'新', 	'晨', 	'申', 	'神', 	'臣', 	'身', 	'辛', 	'失', 	'室', 	'實', 	'審', 	'尋', 	'心', 	'深', 	'甚', 	'十', 	'雙', 	'氏', 	'亞', 	'兒', 	'我', 	'牙', 	'芽', 	'雅', 	'餓', 	'覀', 	'岳', 	'惡', 	'安', 	'岸', 	'案', 	'眼', 	'顔', 	'鴈', 	'謁', 	'歹', 	'巖', 	'暗', 	'壓', 	'押', 	'仰', 	'央', 	'殃', 	'哀', 	'愛', 	'涯', 	'厄', 	'額', 	'也', 	'夜', 	'耶', 	'野', 	'弱', 	'約', 	'若', 	'藥', 	'躍', 	'壤', 	'揚', 	'楊', 	'樣', 	'洋', 	'羊', 	'讓', 	'陽', 	'養', 	'御', 	'於', 	'漁', 	'語', 	'魚', 	'億', 	'億', 	'憶', 	'抑', 	'焉', 	'言', 	'嚴', 	'广', 	'厂', 	'業', 	'业', 	'女', 	'予', 	'余', 	'如', 	'汝', 	'與', 	'輿', 	'餘', 	'与', 	'疒', 	'亦', 	'域', 	'役', 	'易', 	'疫', 	'譯', 	'驛', 	'屰', 	'宴', 	'延', 	'沿', 	'演', 	'然', 	'煙', 	'燃', 	'燕', 	'硏', 	'緣', 	'軟', 	'鉛', 	'悅', 	'熱', 	'閱', 	'染', 	'炎', 	'鹽', 	'冉', 	'冄', 	'葉', 	'影', 	'映', 	'榮', 	'永', 	'泳', 	'營', 	'英', 	'詠', 	'迎', 	'藝', 	'譽', 	'豫', 	'銳', 	'五', 	'傲', 	'午', 	'吾', 	'嗚', 	'娛', 	'悟', 	'汚', 	'烏', 	'誤', 	'屋', 	'獄', 	'玉', 	'溫', 	'兀', 	'擁', 	'翁', 	'瓦', 	'臥', 	'完', 	'緩', 	'曰', 	'往', 	'王', 	'外', 	'畏', 	'搖', 	'腰', 	'要', 	'謠', 	'遙', 	'幺', 	'慾', 	'欲', 	'浴', 	'辱', 	'勇', 	'容', 	'庸', 	'用', 	'甬', 	'禺', 	'于', 	'偶', 	'優', 	'又', 	'友', 	'右', 	'宇', 	'尤', 	'愚', 	'憂', 	'牛', 	'羽', 	'遇', 	'郵', 	'雨', 	'亏', 	'云', 	'運', 	'雲', 	'韻', 	'雄', 	'元', 	'原', 	'員', 	'圓', 	'園', 	'怨', 	'援', 	'源', 	'遠', 	'院', 	'願', 	'月', 	'越', 	'位', 	'偉', 	'僞', 	'危', 	'圍', 	'委', 	'威', 	'慰', 	'爲', 	'緯', 	'胃', 	'衛', 	'謂', 	'違', 	'韋', 	'乳', 	'儒', 	'唯', 	'幼', 	'幽', 	'悠', 	'惟', 	'愈', 	'有', 	'柔', 	'油', 	'猶', 	'由', 	'由', 	'維', 	'裕', 	'誘', 	'遊', 	'遺', 	'酉', 	'禸', 	'六', 	'肉', 	'育', 	'尹', 	'潤', 	'閏', 	'聿', 	'恩', 	'銀', 	'隱', 	'乚', 	'乙', 	'吟', 	'淫', 	'陰', 	'音', 	'飮', 	'泣', 	'邑', 	'凝', 	'應', 	'依', 	'儀', 	'宜', 	'意', 	'疑', 	'矣', 	'義', 	'衣', 	'議', 	'醫', 	'二', 	'以', 	'夷', 	'已', 	'異', 	'移', 	'而', 	'耳', 	'益', 	'翼', 	'弋', 	'人', 	'仁', 	'印', 	'因', 	'姻', 	'寅', 	'引', 	'忍', 	'認', 	'亻', 	'儿', 	'廴', 	'確認', 	'一', 	'日', 	'逸', 	'任', 	'壬', 	'賃', 	'入', 	'廿', 	'刺', 	'姉', 	'姿', 	'子', 	'字', 	'恣', 	'慈', 	'玆', 	'紫', 	'者', 	'自', 	'資', 	'朿', 	'作', 	'勺', 	'昨', 	'爵', 	'酌', 	'殘', 	'暫', 	'潛', 	'雜', 	'丈', 	'場', 	'墻', 	'壯', 	'奬', 	'將', 	'帳', 	'張', 	'掌', 	'章', 	'粧', 	'腸', 	'臟', 	'莊', 	'葬', 	'藏', 	'裝', 	'長', 	'障', 	'爿', 	'再', 	'哉', 	'在', 	'宰', 	'才', 	'材', 	'栽', 	'災', 	'裁', 	'財', 	'載', 	'爭', 	'低', 	'底', 	'抵', 	'著', 	'貯', 	'寂', 	'摘', 	'敵', 	'滴', 	'的', 	'積', 	'籍', 	'績', 	'賊', 	'赤', 	'跡', 	'適', 	'全', 	'典', 	'前', 	'專', 	'展', 	'戰', 	'殿', 	'田', 	'轉', 	'錢', 	'電', 	'切', 	'折', 	'竊', 	'節', 	'絶', 	'㔾', 	'卩', 	'卪', 	'占', 	'店', 	'漸', 	'點', 	'接', 	'蝶', 	'丁', 	'井', 	'亭', 	'停', 	'定', 	'庭', 	'廷', 	'征', 	'情', 	'政', 	'整', 	'正', 	'淨', 	'程', 	'精', 	'訂', 	'貞', 	'靜', 	'頂', 	'鼎', 	'堤', 	'帝', 	'弟', 	'提', 	'濟', 	'祭', 	'第', 	'製', 	'諸', 	'除', 	'際', 	'題', 	'齊', 	'兆', 	'兆', 	'助', 	'弔', 	'操', 	'早', 	'朝', 	'條', 	'潮', 	'照', 	'燥', 	'爪', 	'祖', 	'租', 	'組', 	'調', 	'造', 	'鳥', 	'族', 	'足', 	'存', 	'尊', 	'卒', 	'拙', 	'宗', 	'從', 	'種', 	'終', 	'縱', 	'鐘', 	'佐', 	'坐', 	'左', 	'座', 	'屮', 	'罪', 	'主', 	'住', 	'周', 	'奏', 	'宙', 	'州', 	'州', 	'晝', 	'朱', 	'柱', 	'株', 	'注', 	'洲', 	'珠', 	'舟', 	'走', 	'酒', 	'鑄', 	'丶', 	'竹', 	'俊', 	'準', 	'遵', 	'中', 	'仲', 	'衆', 	'重', 	'卽', 	'增', 	'憎', 	'曾', 	'症', 	'蒸', 	'證', 	'贈', 	'之', 	'只', 	'地', 	'志', 	'持', 	'指', 	'支', 	'智', 	'枝', 	'止', 	'池', 	'知', 	'紙', 	'至', 	'誌', 	'遲', 	'直', 	'織', 	'職', 	'振', 	'珍', 	'盡', 	'眞', 	'辰', 	'進', 	'鎭', 	'陣', 	'陳', 	'震', 	'姪', 	'疾', 	'秩', 	'質', 	'執', 	'集', 	'亼', 	'徵', 	'懲', 	'車', 	'茶', 	'且', 	'借', 	'差', 	'次', 	'此', 	'捉', 	'着', 	'錯', 	'辶', 	'讚', 	'贊', 	'察', 	'參', 	'慘', 	'慚', 	'倉', 	'創', 	'唱', 	'昌', 	'暢', 	'窓', 	'蒼', 	'囱', 	'債', 	'彩', 	'採', 	'菜', 	'冊', 	'策', 	'責', 	'妻', 	'處', 	'尺', 	'戚', 	'拓', 	'斥', 	'彳', 	'千', 	'天', 	'川', 	'泉', 	'淺', 	'舛', 	'薦', 	'賤', 	'踐', 	'遷', 	'巛', 	'哲', 	'徹', 	'鐵', 	'尖', 	'添', 	'妾', 	'廳', 	'晴', 	'淸', 	'聽', 	'請', 	'靑', 	'替', 	'滯', 	'逮', 	'遞', 	'體', 	'初', 	'抄', 	'招', 	'礎', 	'秒', 	'肖', 	'草', 	'超', 	'促', 	'燭', 	'觸', 	'亍', 	'寸', 	'村', 	'總', 	'聰', 	'銃', 	'催', 	'最', 	'抽', 	'推', 	'秋', 	'追', 	'醜', 	'帚', 	'隹', 	'丑', 	'畜', 	'祝', 	'築', 	'縮', 	'蓄', 	'逐', 	'春', 	'出', 	'朮', 	'充', 	'忠', 	'蟲', 	'衝', 	'取', 	'吹', 	'就', 	'臭', 	'趣', 	'醉', 	'側', 	'測', 	'層', 	'値', 	'恥', 	'治', 	'置', 	'致', 	'齒', 	'夂', 	'則', 	'親', 	'七', 	'漆', 	'侵', 	'寢', 	'枕', 	'沈', 	'浸', 	'針', 	'稱', 	'快', 	'夬', 	'他', 	'墮', 	'妥', 	'打', 	'卓', 	'托', 	'濁', 	'濯', 	'乇', 	'彈', 	'歎', 	'炭', 	'誕', 	'奪', 	'脫', 	'探', 	'貪', 	'塔', 	'湯', 	'太', 	'怠', 	'態', 	'殆', 	'宅', 	'擇', 	'澤', 	'吐', 	'土', 	'討', 	'痛', 	'統', 	'通', 	'退', 	'鬥', 	'投', 	'透', 	'鬪', 	'特', 	'巴', 	'把', 	'播', 	'波', 	'派', 	'破', 	'罷', 	'頗', 	'判', 	'板', 	'版', 	'販', 	'八', 	'敗', 	'貝', 	'便', 	'偏', 	'片', 	'篇', 	'編', 	'遍', 	'平', 	'評', 	'貝', 	'幣', 	'廢', 	'弊', 	'肺', 	'蔽', 	'閉', 	'甫', 	'包', 	'布', 	'抱', 	'捕', 	'浦', 	'胞', 	'飽', 	'勹', 	'幅', 	'暴', 	'爆', 	'標', 	'漂', 	'票', 	'表', 	'品', 	'風', 	'豐', 	'彼', 	'疲', 	'皮', 	'被', 	'避', 	'匹', 	'必', 	'畢', 	'疋', 	'筆', 	'下', 	'夏', 	'河', 	'賀', 	'學', 	'鶴', 	'寒', 	'恨', 	'旱', 	'汗', 	'漢', 	'閑', 	'限', 	'韓', 	'割', 	'含', 	'咸', 	'陷', 	'合', 	'亢', 	'巷', 	'恒', 	'抗', 	'港', 	'航', 	'項', 	'亥', 	'奚', 	'害', 	'海', 	'解', 	'該', 	'核', 	'幸', 	'行', 	'享', 	'向', 	'鄕', 	'響', 	'香', 	'乡', 	'虛', 	'許', 	'憲', 	'獻', 	'軒', 	'險', 	'驗', 	'革', 	'懸', 	'玄', 	'現', 	'絃', 	'縣', 	'賢', 	'顯', 	'穴', 	'血', 	'頁', 	'嫌', 	'協', 	'脅', 	'亨', 	'兄', 	'刑', 	'形', 	'螢', 	'衡', 	'兮', 	'惠', 	'慧', 	'匸', 	'乎', 	'互', 	'呼', 	'好', 	'戶', 	'毫', 	'浩', 	'湖', 	'胡', 	'虎', 	'號', 	'護', 	'豪', 	'惑', 	'或', 	'婚', 	'昏', 	'混', 	'魂', 	'忽', 	'弘', 	'洪', 	'洪', 	'紅', 	'鴻', 	'化', 	'和', 	'火', 	'畵', 	'禍', 	'禾', 	'花', 	'華', 	'話', 	'貨', 	'灬', 	'擴', 	'確', 	'穫', 	'丸', 	'患', 	'換', 	'歡', 	'環', 	'還', 	'活', 	'況', 	'皇', 	'荒', 	'黃', 	'回', 	'悔', 	'懷', 	'會', 	'劃', 	'獲', 	'橫', 	'孝', 	'效', 	'曉', 	'爻', 	'侯', 	'候', 	'厚', 	'後', 	'訓', 	'毁', 	'虫', 	'揮', 	'輝', 	'休', 	'携', 	'凶', 	'胸', 	'黑', 	'欠', 	'吸', 	'興', 	'喜', 	'希', 	'戱', 	'稀',       '砲',       '廵',        '帿',       '衙',       '不',        '馳',       '傳',       '倭',       '釜',       '駐', '隻',       '惋',       '仍',        '鉢',       '汰',       '萊',        '蔚',       '並',       '遽',        '堡',       '掘',       '鑿',       '熾',       '鋒',       '艦',        '奸',        '宋',       '裵',       '金',       '鰲',       '僉',        '倅',      '彌',        '輒',       '愕',       '樂',        '疊',       '斬',       '梟',       '更',        '伊',       '勦',       '祗'
                    ];

                    const hangul_array = [
                    '가', 	'가', 	'가', 	'가', 	'가', 	'가', 	'가', 	'가', 	'가', 	'가', 	'각', 	'각', 	'각', 	'각', 	'각', 	'각', 	'각', 	'간', 	'간', 	'간', 	'간', 	'간', 	'간', 	'간', 	'간', 	'간', 	'간', 	'갈', 	'감', 	'감', 	'감', 	'감', 	'감', 	'감', 	'감', 	'갑', 	'강', 	'강', 	'강', 	'강', 	'강', 	'강', 	'강', 	'강', 	'개', 	'개', 	'개', 	'개', 	'개', 	'개', 	'개', 	'개', 	'객', 	'갱', 	'거', 	'거', 	'거', 	'거', 	'거', 	'거', 	'거', 	'건', 	'건', 	'건', 	'건', 	'건', 	'걸', 	'걸', 	'검', 	'검', 	'검', 	'격', 	'격', 	'격', 	'격', 	'견', 	'견', 	'견', 	'견', 	'견', 	'견', 	'견', 	'견', 	'결', 	'결', 	'결', 	'결', 	'겸', 	'겸', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'경', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'계', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'고', 	'곡', 	'곡', 	'곡', 	'곡', 	'곤', 	'곤', 	'곤', 	'골', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'공', 	'과', 	'과', 	'과', 	'과', 	'과', 	'과', 	'과', 	'과', 	'곽', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'관', 	'광', 	'광', 	'광', 	'광', 	'괘', 	'괴', 	'괴', 	'괴', 	'괴', 	'괴', 	'교', 	'교', 	'교', 	'교', 	'교', 	'교', 	'교', 	'교', 	'교', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'구', 	'국', 	'국', 	'국', 	'군', 	'군', 	'군', 	'군', 	'굴', 	'궁', 	'궁', 	'궁', 	'권', 	'권', 	'권', 	'권', 	'궐', 	'궤', 	'궤', 	'귀', 	'귀', 	'귀', 	'규', 	'규', 	'규', 	'균', 	'균', 	'균', 	'극', 	'극', 	'극', 	'근', 	'근', 	'근', 	'근', 	'근', 	'근', 	'금', 	'금', 	'금', 	'금', 	'금', 	'금', 	'급', 	'급', 	'급', 	'급', 	'긍', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'기', 	'긴', 	'길', 	'나', 	'난', 	'난', 	'남', 	'남', 	'납', 	'낭', 	'내', 	'내', 	'내', 	'내', 	'녀', 	'년', 	'념', 	'녕', 	'노', 	'노', 	'노', 	'농', 	'뇌', 	'뇌', 	'능', 	'니', 	'다', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'단', 	'달', 	'담', 	'담', 	'담', 	'답', 	'답', 	'답', 	'당', 	'당', 	'당', 	'당', 	'당', 	'대', 	'대', 	'대', 	'대', 	'대', 	'대', 	'대', 	'대', 	'덕', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'도', 	'독', 	'독', 	'독', 	'독', 	'독', 	'돈', 	'돈', 	'돌', 	'동', 	'동', 	'동', 	'동', 	'동', 	'동', 	'동', 	'동', 	'두', 	'두', 	'두', 	'두', 	'두', 	'두', 	'둔', 	'둔', 	'득', 	'등', 	'등', 	'등', 	'등', 	'라', 	'락', 	'락', 	'락', 	'락', 	'란', 	'란', 	'란', 	'란', 	'람', 	'람', 	'랑', 	'래', 	'랭', 	'략', 	'략', 	'량', 	'량', 	'량', 	'량', 	'량', 	'량', 	'량', 	'량', 	'려', 	'려', 	'려', 	'려', 	'려', 	'력', 	'력', 	'력', 	'력', 	'련', 	'련', 	'련', 	'련', 	'련', 	'련', 	'련', 	'렬', 	'렬', 	'렬', 	'렬', 	'렴', 	'렵', 	'령', 	'령', 	'령', 	'령', 	'령', 	'례', 	'례', 	'례', 	'로', 	'로', 	'로', 	'로', 	'로', 	'로', 	'록', 	'록', 	'록', 	'록', 	'록', 	'론', 	'롱', 	'뢰', 	'뢰', 	'뢰', 	'료', 	'료', 	'료', 	'룡', 	'루', 	'루', 	'루', 	'루', 	'루', 	'류', 	'류', 	'류', 	'류', 	'륙', 	'륙', 	'륜', 	'륜', 	'률', 	'률', 	'률', 	'륭', 	'릉', 	'리', 	'리', 	'리', 	'리', 	'리', 	'리', 	'리', 	'리', 	'리', 	'린', 	'림', 	'림', 	'립', 	'마', 	'마', 	'마', 	'막', 	'막', 	'막', 	'만', 	'만', 	'만', 	'만', 	'만', 	'말', 	'망', 	'망', 	'망', 	'망', 	'망', 	'망', 	'망', 	'망', 	'매', 	'매', 	'매', 	'매', 	'매', 	'매', 	'매', 	'맥', 	'맥', 	'맹', 	'맹', 	'맹', 	'맹', 	'멱', 	'멱', 	'면', 	'면', 	'면', 	'면', 	'면', 	'면', 	'멸', 	'명', 	'명', 	'명', 	'명', 	'명', 	'명', 	'명', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'모', 	'목', 	'목', 	'목', 	'목', 	'몰', 	'몽', 	'몽', 	'묘', 	'묘', 	'묘', 	'묘', 	'묘', 	'무', 	'무', 	'무', 	'무', 	'무', 	'무', 	'무', 	'무', 	'묵', 	'묵', 	'문', 	'문', 	'문', 	'문', 	'물', 	'물', 	'미', 	'미', 	'미', 	'미', 	'미', 	'미', 	'미', 	'미', 	'민', 	'민', 	'민', 	'밀', 	'밀', 	'박', 	'박', 	'박', 	'박', 	'박', 	'박', 	'박', 	'반', 	'반', 	'반', 	'반', 	'반', 	'반', 	'반', 	'반', 	'반', 	'발', 	'발', 	'발', 	'발', 	'발', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'방', 	'배', 	'배', 	'배', 	'배', 	'배', 	'배', 	'배', 	'배', 	'배', 	'백', 	'백', 	'백', 	'번', 	'번', 	'번', 	'번', 	'벌', 	'벌', 	'범', 	'범', 	'범', 	'법', 	'벽', 	'벽', 	'변', 	'변', 	'변', 	'변', 	'변', 	'빙', 	'수', 	'수', 	'심', 	'의', 	'별', 	'별', 	'병', 	'병', 	'병', 	'병', 	'병', 	'보', 	'보', 	'보', 	'보', 	'보', 	'보', 	'보', 	'복', 	'복', 	'복', 	'복', 	'복', 	'복', 	'복', 	'복', 	'복', 	'복', 	'본', 	'봉', 	'봉', 	'봉', 	'봉', 	'봉', 	'봉', 	'봉', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'부', 	'북', 	'분', 	'분', 	'분', 	'분', 	'분', 	'분', 	'분', 	'불', 	'불', 	'불', 	'붕', 	'붕', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'비', 	'빈', 	'빈', 	'빈', 	'빙', 	'빙', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'사', 	'삭', 	'삭', 	'산', 	'산', 	'산', 	'산', 	'살', 	'삼', 	'삼', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'상', 	'새', 	'색', 	'색', 	'생', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'서', 	'석', 	'석', 	'석', 	'석', 	'석', 	'석', 	'석', 	'선', 	'선', 	'선', 	'선', 	'선', 	'선', 	'선', 	'선', 	'선', 	'설', 	'설', 	'설', 	'설', 	'섭', 	'섭', 	'성', 	'성', 	'성', 	'성', 	'성', 	'성', 	'성', 	'성', 	'성', 	'성', 	'세', 	'세', 	'세', 	'세', 	'세', 	'세', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'소', 	'속', 	'속', 	'속', 	'속', 	'속', 	'속', 	'손', 	'손', 	'송', 	'송', 	'송', 	'송', 	'송', 	'쇄', 	'쇄', 	'쇠', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'수', 	'숙', 	'숙', 	'숙', 	'숙', 	'숙', 	'숙', 	'숙', 	'순', 	'순', 	'순', 	'순', 	'순', 	'순', 	'순', 	'순', 	'술', 	'술', 	'술', 	'숭', 	'습', 	'습', 	'습', 	'습', 	'승', 	'승', 	'승', 	'승', 	'승', 	'승', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'시', 	'식', 	'식', 	'식', 	'식', 	'식', 	'식', 	'신', 	'신', 	'신', 	'신', 	'신', 	'신', 	'신', 	'신', 	'신', 	'신', 	'실', 	'실', 	'실', 	'심', 	'심', 	'심', 	'심', 	'심', 	'십', 	'쌍', 	'씨', 	'아', 	'아', 	'아', 	'아', 	'아', 	'아', 	'아', 	'아', 	'악', 	'악', 	'안', 	'안', 	'안', 	'안', 	'안', 	'안', 	'알', 	'알', 	'암', 	'암', 	'압', 	'압', 	'앙', 	'앙', 	'앙', 	'애', 	'애', 	'애', 	'액', 	'액', 	'야', 	'야', 	'야', 	'야', 	'약', 	'약', 	'약', 	'약', 	'약', 	'양', 	'양', 	'양', 	'양', 	'양', 	'양', 	'양', 	'양', 	'양', 	'어', 	'어', 	'어', 	'어', 	'어', 	'억', 	'억', 	'억', 	'억', 	'언', 	'언', 	'엄', 	'엄', 	'엄', 	'업', 	'업', 	'여', 	'여', 	'여', 	'여', 	'여', 	'여', 	'여', 	'여', 	'여', 	'역', 	'역', 	'역', 	'역', 	'역', 	'역', 	'역', 	'역', 	'역', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'연', 	'열', 	'열', 	'열', 	'염', 	'염', 	'염', 	'염', 	'염', 	'엽', 	'영', 	'영', 	'영', 	'영', 	'영', 	'영', 	'영', 	'영', 	'영', 	'예', 	'예', 	'예', 	'예', 	'오', 	'오', 	'오', 	'오', 	'오', 	'오', 	'오', 	'오', 	'오', 	'오', 	'옥', 	'옥', 	'옥', 	'온', 	'올', 	'옹', 	'옹', 	'와', 	'와', 	'완', 	'완', 	'왈', 	'왕', 	'왕', 	'외', 	'외', 	'요', 	'요', 	'요', 	'요', 	'요', 	'요', 	'욕', 	'욕', 	'욕', 	'욕', 	'용', 	'용', 	'용', 	'용', 	'용', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'우', 	'운', 	'운', 	'운', 	'운', 	'웅', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'원', 	'월', 	'월', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'위', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'유', 	'육', 	'육', 	'육', 	'윤', 	'윤', 	'윤', 	'율', 	'은', 	'은', 	'은', 	'은', 	'을', 	'음', 	'음', 	'음', 	'음', 	'음', 	'읍', 	'읍', 	'응', 	'응', 	'의', 	'의', 	'의', 	'의', 	'의', 	'의', 	'의', 	'의', 	'의', 	'의', 	'이', 	'이', 	'이', 	'이', 	'이', 	'이', 	'이', 	'이', 	'익', 	'익', 	'익', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'인', 	'일', 	'일', 	'일', 	'임', 	'임', 	'임', 	'입', 	'입', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'자', 	'작', 	'작', 	'작', 	'작', 	'작', 	'잔', 	'잠', 	'잠', 	'잡', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'장', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'재', 	'쟁', 	'저', 	'저', 	'저', 	'저', 	'저', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'적', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'전', 	'절', 	'절', 	'절', 	'절', 	'절', 	'절', 	'절', 	'절', 	'점', 	'점', 	'점', 	'점', 	'접', 	'접', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'정', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'제', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'조', 	'족', 	'족', 	'존', 	'존', 	'졸', 	'졸', 	'종', 	'종', 	'종', 	'종', 	'종', 	'종', 	'좌', 	'좌', 	'좌', 	'좌', 	'좌', 	'죄', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'주', 	'죽', 	'준', 	'준', 	'준', 	'중', 	'중', 	'중', 	'중', 	'즉', 	'증', 	'증', 	'증', 	'증', 	'증', 	'증', 	'증', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'지', 	'직', 	'직', 	'직', 	'진', 	'진', 	'진', 	'진', 	'진', 	'진', 	'진', 	'진', 	'진', 	'진', 	'질', 	'질', 	'질', 	'질', 	'집', 	'집', 	'집', 	'징', 	'징', 	'차', 	'차', 	'차', 	'차', 	'차', 	'차', 	'차', 	'착', 	'착', 	'착', 	'착', 	'찬', 	'찬', 	'찰', 	'참', 	'참', 	'참', 	'창', 	'창', 	'창', 	'창', 	'창', 	'창', 	'창', 	'창', 	'채', 	'채', 	'채', 	'채', 	'책', 	'책', 	'책', 	'처', 	'처', 	'척', 	'척', 	'척', 	'척', 	'척', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'천', 	'철', 	'철', 	'철', 	'첨', 	'첨', 	'첩', 	'청', 	'청', 	'청', 	'청', 	'청', 	'청', 	'체', 	'체', 	'체', 	'체', 	'체', 	'초', 	'초', 	'초', 	'초', 	'초', 	'초', 	'초', 	'초', 	'촉', 	'촉', 	'촉', 	'촉', 	'촌', 	'촌', 	'총', 	'총', 	'총', 	'최', 	'최', 	'추', 	'추', 	'추', 	'추', 	'추', 	'추', 	'추', 	'축', 	'축', 	'축', 	'축', 	'축', 	'축', 	'축', 	'춘', 	'출', 	'출', 	'충', 	'충', 	'충', 	'충', 	'취', 	'취', 	'취', 	'취', 	'취', 	'취', 	'측', 	'측', 	'층', 	'치', 	'치', 	'치', 	'치', 	'치', 	'치', 	'치', 	'칙', 	'친', 	'칠', 	'칠', 	'침', 	'침', 	'침', 	'침', 	'침', 	'침', 	'칭', 	'쾌', 	'쾌', 	'타', 	'타', 	'타', 	'타', 	'탁', 	'탁', 	'탁', 	'탁', 	'탁', 	'탄', 	'탄', 	'탄', 	'탄', 	'탈', 	'탈', 	'탐', 	'탐', 	'탑', 	'탕', 	'태', 	'태', 	'태', 	'태', 	'택', 	'택', 	'택', 	'토', 	'토', 	'토', 	'통', 	'통', 	'통', 	'퇴', 	'투', 	'투', 	'투', 	'투', 	'특', 	'파', 	'파', 	'파', 	'파', 	'파', 	'파', 	'파', 	'파', 	'판', 	'판', 	'판', 	'판', 	'팔', 	'패', 	'패', 	'편', 	'편', 	'편', 	'편', 	'편', 	'편', 	'평', 	'평', 	'폐', 	'폐', 	'폐', 	'폐', 	'폐', 	'폐', 	'폐', 	'보', 	'포', 	'포', 	'포', 	'포', 	'포', 	'포', 	'포', 	'포', 	'폭', 	'폭', 	'폭', 	'표', 	'표', 	'표', 	'표', 	'품', 	'풍', 	'풍', 	'피', 	'피', 	'피', 	'피', 	'피', 	'필', 	'필', 	'필', 	'필', 	'필', 	'하', 	'하', 	'하', 	'하', 	'학', 	'학', 	'한', 	'한', 	'한', 	'한', 	'한', 	'한', 	'한', 	'한', 	'할', 	'함', 	'함', 	'함', 	'합', 	'항', 	'항', 	'항', 	'항', 	'항', 	'항', 	'항', 	'해', 	'해', 	'해', 	'해', 	'해', 	'해', 	'핵', 	'행', 	'행', 	'향', 	'향', 	'향', 	'향', 	'향', 	'향', 	'허', 	'허', 	'헌', 	'헌', 	'헌', 	'험', 	'험', 	'혁', 	'현', 	'현', 	'현', 	'현', 	'현', 	'현', 	'현', 	'혈', 	'혈', 	'혈', 	'혐', 	'협', 	'협', 	'형', 	'형', 	'형', 	'형', 	'형', 	'형', 	'혜', 	'혜', 	'혜', 	'혜', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'호', 	'혹', 	'혹', 	'혼', 	'혼', 	'혼', 	'혼', 	'홀', 	'홍', 	'홍', 	'홍', 	'홍', 	'홍', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'화', 	'확', 	'확', 	'확', 	'환', 	'환', 	'환', 	'환', 	'환', 	'환', 	'활', 	'황', 	'황', 	'황', 	'황', 	'회', 	'회', 	'회', 	'회', 	'획', 	'획', 	'횡', 	'효', 	'효', 	'효', 	'효', 	'후', 	'후', 	'후', 	'후', 	'훈', 	'훼', 	'훼', 	'휘', 	'휘', 	'휴', 	'휴', 	'흉', 	'흉', 	'흑', 	'흠', 	'흡', 	'흥', 	'희', 	'희', 	'희', 	'희',       '포',        '순',       '후',       '오',       '불',       '치',        '전',        '왜',       '부',       '주',    '척',        '완',       '잉',       '발',        '태',       '래',        '울',       '병',       '거',        '보',       '굴',       '착',       '치',       '봉',       '함',        '간',       '송',        '배',       '김',        '오',       '첨',       '졸',     '미',        '첩',       '악',       '락',        '첩',       '참',        '효',       '갱',       '이',       '초',        '지'
                    ];

                    hanja_array.push('旨'); hangul_array.push('지');   hanja_array.push('祺'); hangul_array.push('기');    hanja_array.push('率'); hangul_array.push('솔');    hanja_array.push('挾'); hangul_array.push('협');
                    hanja_array.push('鮑'); hangul_array.push('포');   hanja_array.push('軸'); hangul_array.push('축');    hanja_array.push('恬'); hangul_array.push('염');    hanja_array.push('禹'); hangul_array.push('우');
                    hanja_array.push('浣'); hangul_array.push('완');   hanja_array.push('飭'); hangul_array.push('칙');    hanja_array.push('艘'); hangul_array.push('척');    hanja_array.push('滄'); hangul_array.push('창');
                    hanja_array.push('畫'); hangul_array.push('화');   hanja_array.push('綵'); hangul_array.push('채');    hanja_array.push('揷'); hangul_array.push('삽');    hanja_array.push('竿'); hangul_array.push('간');    
                    hanja_array.push('幡'); hangul_array.push('번');   hanja_array.push('幢'); hangul_array.push('당');    hanja_array.push('綃'); hangul_array.push('초');    hanja_array.push('飄'); hangul_array.push('표');   
                    hanja_array.push('眩'); hangul_array.push('현');   hanja_array.push('擾'); hangul_array.push('요');    hanja_array.push('焚'); hangul_array.push('분');    hanja_array.push('蕩'); hangul_array.push('탕');   
                    hanja_array.push('顚'); hangul_array.push('전');   hanja_array.push('仆'); hangul_array.push('부');    hanja_array.push('噪'); hangul_array.push('조');    hanja_array.push('櫓'); hangul_array.push('로');   
                    hanja_array.push('遁'); hangul_array.push('둔');   hanja_array.push('箭'); hangul_array.push('전');    hanja_array.push('游'); hangul_array.push('유');    hanja_array.push('潰'); hangul_array.push('궤');   
                    hanja_array.push('攀'); hangul_array.push('반');   hanja_array.push('崖'); hangul_array.push('애');    hanja_array.push('撞'); hangul_array.push('당');    hanja_array.push('擄'); hangul_array.push('로');   
                    hanja_array.push('擒'); hangul_array.push('금');   hanja_array.push('潭'); hangul_array.push('담');    hanja_array.push('鄭'); hangul_array.push('정');    hanja_array.push('兪'); hangul_array.push('유');   
                    hanja_array.push('㸎'); hangul_array.push('엽');   hanja_array.push('卞'); hangul_array.push('변');    hanja_array.push('幷'); hangul_array.push('병');    hanja_array.push('筒'); hangul_array.push('통');   
                    hanja_array.push('焰'); hangul_array.push('염');   hanja_array.push('漲'); hangul_array.push('창');    hanja_array.push('竄'); hangul_array.push('찬');    hanja_array.push('藪'); hangul_array.push('수');   
                    hanja_array.push('摧'); hangul_array.push('최');   hanja_array.push('巇'); hangul_array.push('희');    hanja_array.push('鬱'); hangul_array.push('울');    hanja_array.push('窟'); hangul_array.push('굴');   
                    hanja_array.push('繞'); hangul_array.push('요');   hanja_array.push('遂'); hangul_array.push('수');    hanja_array.push('樵'); hangul_array.push('초');    hanja_array.push('汲'); hangul_array.push('급');  
                    hanja_array.push('熊'); hangul_array.push('웅');   hanja_array.push('謫'); hangul_array.push('적');    hanja_array.push('渫'); hangul_array.push('설');    hanja_array.push('藍'); hangul_array.push('감');  
                    hanja_array.push('嶼'); hangul_array.push('서');   hanja_array.push('猪'); hangul_array.push('저');    hanja_array.push('串'); hangul_array.push('곶');    hanja_array.push('閭'); hangul_array.push('려');
                    hanja_array.push('閻'); hangul_array.push('염');   hanja_array.push('㤼'); hangul_array.push('겁');    hanja_array.push('虜'); hangul_array.push('로');    hanja_array.push('憇'); hangul_array.push('게');
                    hanja_array.push('駄'); hangul_array.push('태');   hanja_array.push('泛'); hangul_array.push('범');    hanja_array.push('屠'); hangul_array.push('도');    hanja_array.push('笛'); hangul_array.push('적');
                    hanja_array.push('曙'); hangul_array.push('서');   hanja_array.push('戮'); hangul_array.push('륙');    hanja_array.push('殲'); hangul_array.push('섬');    hanja_array.push('狹'); hangul_array.push('협');
                    hanja_array.push('擬'); hangul_array.push('의');   hanja_array.push('崔'); hangul_array.push('최');    hanja_array.push('牒'); hangul_array.push('첩');    hanja_array.push('呈'); hangul_array.push('정');
                    hanja_array.push('車'); hangul_array.push('차');   hanja_array.push('駕'); hangul_array.push('가');    hanja_array.push('蹕'); hangul_array.push('필');    hanja_array.push('棹'); hangul_array.push('도');
                    hanja_array.push('楫'); hangul_array.push('즙');   hanja_array.push('諭'); hangul_array.push('유');    hanja_array.push('泗'); hangul_array.push('사');    hanja_array.push('㨾'); hangul_array.push('양');
                    hanja_array.push('巍'); hangul_array.push('외');   hanja_array.push('墜'); hangul_array.push('추');    hanja_array.push('帆'); hangul_array.push('범');    hanja_array.push('踴'); hangul_array.push('용');
                    hanja_array.push('虞'); hangul_array.push('우');   hanja_array.push('綜'); hangul_array.push('종');    hanja_array.push('稍'); hangul_array.push('초');    hanja_array.push('聚'); hangul_array.push('취');
                    hanja_array.push('逆'); hangul_array.push('역');   hanja_array.push('預'); hangul_array.push('예');    hanja_array.push('昆'); hangul_array.push('곤');    hanja_array.push('鴟'); hangul_array.push('치');
                    hanja_array.push('制'); hangul_array.push('제');   hanja_array.push('蹤'); hangul_array.push('종');    hanja_array.push('逶'); hangul_array.push('위');    hanja_array.push('迤'); hangul_array.push('이');
                    hanja_array.push('峻'); hangul_array.push('준');   hanja_array.push('麾'); hangul_array.push('휘');    hanja_array.push('駭'); hangul_array.push('해');    hanja_array.push('巓'); hangul_array.push('전');
                    hanja_array.push('俯'); hangul_array.push('부');   hanja_array.push('麾'); hangul_array.push('휘');    hanja_array.push('駭'); hangul_array.push('해');    hanja_array.push('轢'); hangul_array.push('력');
                    hanja_array.push('僈'); hangul_array.push('만');   hanja_array.push('佯'); hangul_array.push('양');    hanja_array.push('踊'); hangul_array.push('용');    hanja_array.push('汐'); hangul_array.push('석');
                    hanja_array.push('窺'); hangul_array.push('규');   hanja_array.push('翎'); hangul_array.push('령');    hanja_array.push('曳'); hangul_array.push('예');    hanja_array.push('迭'); hangul_array.push('질');
                    hanja_array.push('頓'); hangul_array.push('돈');   hanja_array.push('奄'); hangul_array.push('엄');    hanja_array.push('措'); hangul_array.push('조');    hanja_array.push('覓'); hangul_array.push('멱');
                    hanja_array.push('莽'); hangul_array.push('망');   hanja_array.push('盖'); hangul_array.push('개');    hanja_array.push('怖'); hangul_array.push('포');    hanja_array.push('晟'); hangul_array.push('성');
                    hanja_array.push('藉'); hangul_array.push('자');   hanja_array.push('晉'); hangul_array.push('진');    hanja_array.push('扇'); hangul_array.push('선');    hanja_array.push('柄'); hangul_array.push('병');
                    hanja_array.push('柴'); hangul_array.push('시');   hanja_array.push('筑'); hangul_array.push('축');    hanja_array.push('衾'); hangul_array.push('금');    hanja_array.push('奢'); hangul_array.push('사');
                    hanja_array.push('侈'); hangul_array.push('치');   hanja_array.push('羣'); hangul_array.push('군');    hanja_array.push('俛'); hangul_array.push('면');    hanja_array.push('匣'); hangul_array.push('갑');
                    hanja_array.push('嫁'); hangul_array.push('가');   hanja_array.push('饒'); hangul_array.push('요');    hanja_array.push('鴂'); hangul_array.push('결');    hanja_array.push('胷'); hangul_array.push('흉');
                    hanja_array.push('膛'); hangul_array.push('당');   hanja_array.push('楸'); hangul_array.push('추');    hanja_array.push('姜'); hangul_array.push('강');    hanja_array.push('欣'); hangul_array.push('흔');
                    hanja_array.push('偕'); hangul_array.push('해');   hanja_array.push('捲'); hangul_array.push('권');    hanja_array.push('艇'); hangul_array.push('정');    hanja_array.push('幟'); hangul_array.push('치');
                    hanja_array.push('迹'); hangul_array.push('적');   hanja_array.push('狙'); hangul_array.push('저');    hanja_array.push('麓'); hangul_array.push('록');    hanja_array.push('窄'); hangul_array.push('착');
                    hanja_array.push('紋'); hangul_array.push('문');   hanja_array.push('蟹'); hangul_array.push('해');    hanja_array.push('菶'); hangul_array.push('봉');    hanja_array.push('渠'); hangul_array.push('거');
                    hanja_array.push('濤'); hangul_array.push('도');   hanja_array.push('艱'); hangul_array.push('간');    hanja_array.push('何'); hangul_array.push('하');    hanja_array.push('槩'); hangul_array.push('개');
                    hanja_array.push('漑'); hangul_array.push('개');   hanja_array.push('鎰'); hangul_array.push('일');    hanja_array.push('壻'); hangul_array.push('서');    hanja_array.push('輾'); hangul_array.push('전');
                    hanja_array.push('雞'); hangul_array.push('계');   hanja_array.push('寐'); hangul_array.push('매');    hanja_array.push('胤'); hangul_array.push('윤');    hanja_array.push('誣'); hangul_array.push('무');
                    hanja_array.push('荄'); hangul_array.push('해');   hanja_array.push('薈'); hangul_array.push('회');    hanja_array.push('卧'); hangul_array.push('와');    hanja_array.push('呻'); hangul_array.push('신');
                    hanja_array.push('潸'); hangul_array.push('산');   hanja_array.push('舘'); hangul_array.push('관');    hanja_array.push('酷'); hangul_array.push('혹');    hanja_array.push('呻'); hangul_array.push('신');
    hanja_array.push('弼'); hangul_array.push('필'); hanja_array.push('陪'); hangul_array.push('배'); hanja_array.push('箋'); hangul_array.push('전');
    hanja_array.push('壕'); hangul_array.push('호'); hanja_array.push('頹'); hangul_array.push('퇴');
hanja_array.push('圮'); hangul_array.push('비');
hanja_array.push('霽'); hangul_array.push('제');
hanja_array.push('撫'); hangul_array.push('무');





                function setUM(form) {
                    
                    //document.getElementsByName("UM")[0].value = window.document.getElementsByName("B_HANJA")[0].value ;
                

                    var str = window.document.getElementsByName("B_HANJA")[0].value;
                    
                    var text1 = new Array();
                    var text2 = new Array();

                    var i;

                    var step;
                    for (step = 0; step < str.length; step++) {
                    text1[step] = str.substr(step, 1);
                    text2[step] = text1[step];
                    }  

                    for (step = 0; step < str.length; step++) {
                            
                            for(i = 0; i < hanja_array.length; i++){
                            if(hanja_array[i] === text2[step]) { text2[step] = hangul_array[i]; break; }
                            }
                    }

                    document.getElementsByName("UM")[0].value = text2.join('');
                    

                }
        
            </script>
      
    </body>

</html>