<html>
    <head>
        <meta charset="utf-8">
        <title>publis trigger</title>

        <style>
            input[type=text] { height: 30px; font-size: 18px; }
        </style>
    </head>
    <body>


        
      <table style="border-collapse: collapse; width: 100%;" border="1" width="100%" text-align="center">
        <tbody>
        
        <colgroup>
            <col width="16%" />
            <col width="9%" />
            <col width="9%" />
            <col width="9%" />
            <col width="9%" />
            <col width="9%" />
            <col width="9%" />
            <col width="30%" />
          </colgroup>
        
        <tr>
        <td align=center id="c0" rowspan="12" width="150"><font size="10"><%=list[0].HANJA %></font></td>
        <td align=center id="c1"><%=list[0].HANJA %></td>
        <td align=center id="c2"><%=list[0].C1 %></td>
        <td align=center id="c3"><%=list[0].C2 %></td>
        <td align=center id="c4"><%=list[0].C3 %></td>
        <td align=center id="c5"><%=list[0].C4 %></td>
        <td align=center id="c6"><%=list[0].C5 %></td>
        <td align=left id="h7" rowspan="2" width="300"><%=list[0].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h1"><%=list[0].HANGUL %></td>
        <td align=center id="h2"><%=list[0].H1 %></td>
        <td align=center id="h3"><%=list[0].H2 %></td>
        <td align=center id="h4"><%=list[0].H3 %></td>
        <td align=center id="h5"><%=list[0].H4 %></td>
        <td align=center id="h6"><%=list[0].H5 %></td>
        </tr>
        <tr>
        <td align=center id="c11"><%=list[1].HANJA %></td>
        <td align=center id="c12"><%=list[1].C1 %></td>
        <td align=center id="c13"><%=list[1].C2 %></td>
        <td align=center id="c14"><%=list[1].C3 %></td>
        <td align=center id="c15"><%=list[1].C4 %></td>
        <td align=center id="c16"><%=list[1].C5 %></td>
        <td align=left id="h17" rowspan="2"><%=list[1].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h11"><%=list[1].HANGUL %></td>
        <td align=center id="h12"><%=list[1].H1 %></td>
        <td align=center id="h13"><%=list[1].H2 %></td>
        <td align=center id="h14"><%=list[1].H3 %></td>
        <td align=center id="h15"><%=list[1].H4 %></td>
        <td align=center id="h16"><%=list[1].H5 %></td>
        </tr>
        <tr>
        <td align=center id="c21"><%=list[2].HANJA %></td>
        <td align=center id="c22"><%=list[2].C1 %></td>
        <td align=center id="c23"><%=list[2].C2 %></td>
        <td align=center id="c24"><%=list[2].C3 %></td>
        <td align=center id="c25"><%=list[2].C4 %></td>
        <td align=center id="c26"><%=list[2].C5 %></td>
        <td align=left id="h27" rowspan="2"><%=list[2].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h21"><%=list[2].HANGUL %></td>
        <td align=center id="h22"><%=list[2].H1 %></td>
        <td align=center id="h23"><%=list[2].H2 %></td>
        <td align=center id="h24"><%=list[2].H3 %></td>
        <td align=center id="h25"><%=list[2].H4 %></td>
        <td align=center id="h26"><%=list[2].H5 %></td>
        </tr>
        <tr>
        <td align=center id="c31"><%=list[3].HANJA %></td>
        <td align=center id="c32"><%=list[3].C1 %></td>
        <td align=center id="c33"><%=list[3].C2 %></td>
        <td align=center id="c34"><%=list[3].C3 %></td>
        <td align=center id="c35"><%=list[3].C4 %></td>
        <td align=center id="c36"><%=list[3].C5 %></td>
        <td align=left id="h37" rowspan="2"><%=list[3].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h31"><%=list[3].HANGUL %></td>
        <td align=center id="h32"><%=list[3].H1 %></td>
        <td align=center id="h33"><%=list[3].H2 %></td>
        <td align=center id="h34"><%=list[3].H3 %></td>
        <td align=center id="h35"><%=list[3].H4 %></td>
        <td align=center id="h36"><%=list[3].H5 %></td>
        </tr>
        <tr>
        <td align=center id="c41"><%=list[4].HANJA %></td>
        <td align=center id="c42"><%=list[4].C1 %></td>
        <td align=center id="c43"><%=list[4].C2 %></td>
        <td align=center id="c44"><%=list[4].C3 %></td>
        <td align=center id="c45"><%=list[4].C4 %></td>
        <td align=center id="c46"><%=list[4].C5 %></td>
        <td align=left id="h47" rowspan="2"><%=list[4].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h41"><%=list[4].HANGUL %></td>
        <td align=center id="h42"><%=list[4].H1 %></td>
        <td align=center id="h43"><%=list[4].H2 %></td>
        <td align=center id="h44"><%=list[4].H3 %></td>
        <td align=center id="h45"><%=list[4].H4 %></td>
        <td align=center id="h46"><%=list[4].H5 %></td>
        </tr>
        <tr>
        <td align=center id="c51"><%=list[5].HANJA %></td>
        <td align=center id="c52"><%=list[5].C1 %></td>
        <td align=center id="c53"><%=list[5].C2 %></td>
        <td align=center id="c54"><%=list[5].C3 %></td>
        <td align=center id="c55"><%=list[5].C4 %></td>
        <td align=center id="c56"><%=list[5].C5 %></td>
        <td align=left id="h57" rowspan="2"><%=list[5].EXPL %></td>
        </tr>
        <tr>
        <td align=center id="h51"><%=list[5].HANGUL %></td>
        <td align=center id="h52"><%=list[5].H1 %></td>
        <td align=center id="h53"><%=list[5].H2 %></td>
        <td align=center id="h54"><%=list[5].H3 %></td>
        <td align=center id="h55"><%=list[5].H4 %></td>
        <td align=center id="h56"><%=list[5].H5 %></td>
        </tr>
        <tr>
        <td align=center id="h60" ><%=list[0].HANGUL %></td>
        <td align=left id="h61" colspan="7"><%=list[0].HANGUL%>, <%=list[0].H1%>, <%=list[0].H2%>, <%=list[0].H3%>, <%=list[0].H4%>, <%=list[0].H5%>, <%=list[0].EXPL%></td>
        </tr>

        <tr>
          <td align=center id="C70" >.</td>
          <td align=left id="C71" colspan="7"><%=list[0].CHINESE %></td>
        </tr>
        <tr>
          <td align=center id="J80" >.</td>
          <td align=left id="J81" colspan="7"><%=list[0].JAPANESE %></td>
        </tr>

        </tbody>
        </table>
        
        
        <h2 id="demo"></h2>
        
        <span id="result"><font size = 15px>.</font></span>
        
        <div>
            <span style="display : inline-block">
        
                        
            


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            
            &nbsp;<button onclick="speak();" style="width: 70px; height: 35px; font-size: 15px;"> TTS </button>
        
           
              
            &nbsp;<canvas id="canvas" width="200" height="200" style="border: 2px solid; cursor: crosshair;"></canvas>
        
              &nbsp;<button onclick="
              var e = document.getElementById('language');
              canvas.setOptions({language: e.options[e.selectedIndex].value});
              canvas.recognize();
               " style="width: 70px; height: 35px; font-size: 15px;"> OCR </button>


  <form action='/publishAf' method='post'>
            
    <input type='text' name='HANGUL' value = "<%=list[0].SEQN + 1 %>">
            
    <button type='submit'>Next</button>
</form>

<form action='/searchAf' method='post'>
            
  <input type='text' name='HANGUL' value = "<%=list[0].SEQN %>">
          
  <button type='submit'>수정</button>
</form>


           

            
              <p>
        
                <br>
                <form>
                  Language:
                  <select id="language">
                    <option value="zh_TW" selected="selected">Chinese</option>
                    <option value="ja">Japanese</option>
                    <option value="en">English</option>
                  </select>
                </form>
        
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                
                PenSize <span id="lineWidth">3</span><input type="range" id="penSize" min="1" max="30" value="3">
        
        
              <button onclick="canvas.erase(); clean();">Erase</button>
        
              <button onclick="canvas.undo()">Undo</button>
              <button onclick="canvas.redo()">Redo</button>
        
        
        
              
        
        
        
            </span>
            <script type="text/javascript" src="https://muckmool.github.io/OCR/handwriting.canvas.js"></script>
            <script type="text/javascript" defer>
              var canvas = new handwriting.Canvas(document.getElementById('canvas'), 3);
              var width = document.getElementById("demo").clientWidth
              canvas.cxt.canvas.width  = width < 200 ? width : 200;
              canvas.cxt.canvas.height = width < 200 ? width : 200;
              canvas.setCallBack(function(data, err) {
                if (err) throw err;
                else document.getElementById("result").innerHTML = "<font size = 15px>&nbsp" + data + "</font>";
              });
              canvas.set_Undo_Redo(true, true);
              var penSize = document.getElementById("penSize");
              penSize.addEventListener("mousemove", function() {
                document.getElementById("lineWidth").innerHTML = penSize.value;
              });
              penSize.addEventListener("change", function(){
                canvas.setLineWidth(penSize.value);
              });
        
              function clean(){
                document.getElementById("result").innerHTML = "<font size = 15px>.</font>";
              };
        
              function increase(){
                input_01.value = String(Number(input_01.value) + 1);
              };
            </script>
          </div>
         
         
        
        
        <script>
        
        // TTS
        
        function speak() {
               
            window.speechSynthesis.cancel(); // 현재 읽고있다면 초기화
        
            const speechMsg = new SpeechSynthesisUtterance();
            speechMsg.rate =  1; // 속도: 0.1 ~ 10      
            speechMsg.pitch = 1; // 음높이: 0 ~ 2
            speechMsg.lang =  "ko-KR";
            speechMsg.text = document.getElementById("h61").textContent;
            
            // SpeechSynthesisUtterance에 저장된 내용을 바탕으로 음성합성 실행
            window.speechSynthesis.speak(speechMsg)
        }
        
        </script>
        
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button onclick="location.href='../write'">신규추가</button> 
    
        
    </body>
</html>